/* Smartphones (portrait and landscape) ----------- */
@media only screen

and (min-device-width : 320px)

and (max-device-width : 480px) {

  *{
    background-color: '81FF24';
  }
 }

/* iPads (portrait and landscape) ----------- */

@media only screen

and (min-device-width : 768px)

and (max-device-width : 1024px) {

  *{
    background-color: 'FFB715';
  }
  body{
    margin: 0;
    font-family: fantasy;
    text-align: center;
  }
}

/* Desktops and laptops ----------- */

@media only screen

and (min-width : 1224px) {
/* Styles */
  *{
    background-color: 565757;
  }
  body{
    margin: 0;
    font-family: fantasy;
    text-align: center;
  }

}


/*Here is our color pallette

Main grey:565757
Main green:81FF24
Main Orange/Yellow:FFB715
Support Green1:6FE815
support Green2:6FE815

*/
